@charset "UTF-8";
/* color */
/* -------------------------- */
/* reset */
/* -------------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
figure {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul,
ol,
li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

/* -------------------------- */
/* all style */
/* -------------------------- */
html {
  font-size: 62.5%;
}

/*font-family: 'Noto Serif JP', serif; */
/*font-family: "Noto Sans JP",Noto Sans JP,"游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
*/
body {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: "游ゴシック Medium", YuGothic-M, YuGothic, "游ゴシック体", YuGothic, "Hiragino Kaku Gothic ProN", "Noto Sans JP", Noto Sans JP, メイリオ, Meiryo, sans-serif;
  font-size: 1.4rem;
  line-height: 1.6;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
}

.mincho {
  font-family: "Noto Serif JP", serif;
}

a {
  text-decoration: none;
  color: #222;
}

img {
  width: 100%;
}

button:hover,
a:hover {
  opacity: 0.8;
}

/**************/
.contents {
  width: 100%;
  padding: 0 1.5rem;
}
@media screen and (min-width: 897px) {
  .contents {
    max-width: 1180px;
  }
}

.sp {
  display: block;
}
@media screen and (min-width: 897px) {
  .sp {
    display: none;
  }
}

.pc {
  display: none;
}
@media screen and (min-width: 897px) {
  .pc {
    display: block;
  }
}

.right {
  padding: 2rem 0 0;
  text-align: right;
}

.pt50 {
  padding-top: 3rem;
}
@media screen and (min-width: 897px) {
  .pt50 {
    padding-top: 5rem;
  }
}

.pb20 {
  padding-bottom: 2rem;
}

.pb30 {
  padding-bottom: 3rem;
}

.line1 {
  font-size: 23px;
  color: #000;
  background: linear-gradient(transparent 70%, #ffff00 70%);
}
@media screen and (min-width: 897px) {
  .line1 {
    font-size: 27px;
  }
}

.big {
  font-size: 26px;
}
@media screen and (min-width: 897px) {
  .big {
    font-size: 32px;
  }
}

.red {
  color: #db0000;
}

h2 {
  padding: 2rem 0;
  text-align: center;
  font-size: 2rem;
}
@media screen and (min-width: 897px) {
  h2 {
    padding: 4rem 0;
    font-size: 3.2rem;
    line-height: 1.5;
  }
}

/* -------------------------- */
/* main_visual  */
/* -------------------------- */
@media screen and (min-width: 897px) {
  .mainvisual img {
    min-height: 100vh;
  }
}

#earn {
  margin-top: -1rem;
  background-color: #202020;
  padding-bottom: 2rem;
}
@media screen and (min-width: 897px) {
  #earn {
    padding-bottom: 4rem;
  }
}
#earn .earn h2 {
  font-size: 1.8rem;
  color: #fff;
  padding: 2rem 1.5rem;
}
@media screen and (min-width: 897px) {
  #earn .earn h2 {
    font-size: 3.5rem;
  }
}
#earn .earn-box {
  background-color: #fff;
  padding: 2rem;
}
@media screen and (min-width: 897px) {
  #earn .earn-box {
    padding: 3rem;
    width: 80rem;
    margin: 0 auto;
  }
}
#earn .earn-box p {
  font-size: 17px;
  font-weight: 600;
  line-height: 1.5;
}
@media screen and (min-width: 897px) {
  #earn .earn-box p {
    font-size: 2.2rem;
  }
}
#earn .earn-box p strong {
  font-size: 1.7rem;
}
@media screen and (min-width: 897px) {
  #earn .earn-box p strong {
    font-size: 27px;
  }
}
#earn .earn-box p .red {
  color: #db0000;
  font-size: 20px;
}
@media screen and (min-width: 897px) {
  #earn .earn-box p .red {
    font-size: 34px;
    line-height: 1.5;
  }
}
#earn .earn-box .waku_gray {
  background-color: #e6e6e6;
  padding: 15px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.6rem;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
}
@media screen and (min-width: 897px) {
  #earn .earn-box .waku_gray {
    padding: 2rem;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 1.6em;
    letter-spacing: 1.5px;
  }
}

#movies {
  padding: 2rem 15px;
  background-color: #f3f3f3;
}
@media screen and (min-width: 897px) {
  #movies {
    padding: 0 0 4rem;
  }
}
#movies .movies-head {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  align-items: center;
}
@media screen and (min-width: 897px) {
  #movies .movies-head {
    flex-direction: row;
    width: 800px;
    margin: 0 auto;
  }
}
#movies .movies-head .icon {
  color: #db0000;
  height: 4rem;
}
@media screen and (min-width: 897px) {
  #movies .movies-head .icon {
    width: 15rem;
    height: unset;
  }
}
#movies .movies-head .icon i:before {
  font-size: 5rem;
}
@media screen and (min-width: 897px) {
  #movies .movies-head .icon i:before {
    font-size: 15rem;
  }
}
#movies .movies-head h2 {
  font-size: 18px;
}
@media screen and (min-width: 897px) {
  #movies .movies-head h2 {
    font-size: 3rem;
  }
}
#movies .movies ul {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 897px) {
  #movies .movies ul {
    width: 1140px;
    justify-content: space-around;
  }
}
#movies .movies ul li {
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 15px;
  width: 100%;
}
@media screen and (min-width: 897px) {
  #movies .movies ul li {
    padding: 15px;
    width: 32%;
    margin-bottom: 30px;
  }
}
#movies .movies ul li h3 {
  font-weight: normal;
  text-align: center;
  font-size: 16px;
}
#movies .movies ul li h3 span {
  font-weight: normal;
  color: #ff8800;
}
#movies .movies ul li video {
  width: 100%;
}

#course .course {
  padding: 1rem 1.5rem;
}
@media screen and (min-width: 897px) {
  #course .course {
    padding: 0;
  }
}
#course .course h2 {
  border-left: 5px solid #222;
  margin: 1rem 0;
  padding: 0 0 0 1rem;
  text-align: left;
}
@media screen and (min-width: 897px) {
  #course .course h2 {
    text-align: center;
    width: 800px;
    margin: 4rem auto;
    padding: 0;
  }
}
#course .course-box {
  padding: 2rem 2re 5rem;
}
@media screen and (min-width: 897px) {
  #course .course-box {
    padding: 0 3rem 10rem;
    width: 90rem;
    margin: 0 auto;
  }
}
#course .course-box p {
  font-size: 16px;
  line-height: 2;
}
@media screen and (min-width: 897px) {
  #course .course-box p {
    font-size: 18px;
    font-weight: 500;
    line-height: 2em;
    letter-spacing: 1.5px;
  }
}

#skill {
  padding: 2rem 15px;
}
@media screen and (min-width: 897px) {
  #skill {
    padding: 0 0 4rem;
    margin: 0 auto;
  }
}
#skill .skill {
  width: 100%;
  text-align: center;
}
#skill .skill img {
  width: 100%;
}
#skill .skill video {
  padding: 1rem 0 3rem;
  width: 100%;
}
@media screen and (min-width: 897px) {
  #skill .skill video {
    padding: 3rem 0 5rem;
  }
}

#message {
  padding: 2rem 5px;
}
@media screen and (min-width: 897px) {
  #message {
    width: 1140px;
    padding: 0 0 4rem;
    margin: 0 auto;
  }
}
#message .message {
  background-color: #fff;
  width: 100%;
  border: 8px double #222;
  padding: 1.5rem;
}
@media screen and (min-width: 897px) {
  #message .message {
    padding: 4rem;
  }
}
#message .message p,
#message .message h3,
#message .message h4 {
  font-size: 16px;
  font-weight: bold;
}
@media screen and (min-width: 897px) {
  #message .message p,
  #message .message h3,
  #message .message h4 {
    font-size: 24px;
  }
}
#message .message p b,
#message .message h3 b,
#message .message h4 b {
  font-size: 18px;
}
@media screen and (min-width: 897px) {
  #message .message p b,
  #message .message h3 b,
  #message .message h4 b {
    font-size: 27px;
  }
}
#message .message-box {
  padding: 2rem;
  margin: 2rem 0;
  border: 4px double #222;
  background-color: #f8f8f8;
}
@media screen and (min-width: 897px) {
  #message .message-box {
    padding: 2rem 4rem 4rem;
    margin: 2rem 0;
  }
}
@media screen and (min-width: 897px) {
  #message .message-box h3 {
    padding: 4rem 0;
  }
}
#message .message-box p,
#message .message-box h4 {
  padding-bottom: 1rem;
  font-size: 16px;
}
@media screen and (min-width: 897px) {
  #message .message-box p,
  #message .message-box h4 {
    padding-bottom: 1rem;
    font-size: 22px;
  }
}

#cta {
  padding: 2rem 5px 3rem;
}
@media screen and (min-width: 897px) {
  #cta {
    width: 1140px;
    padding: 0 0 4rem;
    margin: 0 auto;
  }
}
#cta .cta {
  text-align: center;
  background-color: #fff;
  width: 100%;
  border: 8px double #222;
  padding: 1.5rem;
}
@media screen and (min-width: 897px) {
  #cta .cta {
    padding: 2rem 4rem 4rem;
  }
}
#cta .cta h2 {
  text-align: left;
}
@media screen and (min-width: 897px) {
  #cta .cta h2 {
    text-align: center;
  }
}
#cta .cta p,
#cta .cta h4 {
  font-size: 16px;
  font-weight: bold;
}
@media screen and (min-width: 897px) {
  #cta .cta p,
  #cta .cta h4 {
    font-size: 20px;
  }
}
#cta .cta p b,
#cta .cta h4 b {
  font-size: 18px;
}
@media screen and (min-width: 897px) {
  #cta .cta p b,
  #cta .cta h4 b {
    font-size: 27px;
  }
}
#cta .cta h3 {
  font-size: 4rem;
  padding-bottom: 2rem;
}
@media screen and (min-width: 897px) {
  #cta .cta h3 {
    font-size: 9rem;
    padding-bottom: 5rem;
  }
}
#cta .cta img {
  width: 180px;
}
@media screen and (min-width: 897px) {
  #cta .cta img {
    width: 180px;
  }
}
#cta .cta .line {
  color: #06b81e;
  padding: 3rem 0;
}
#cta .cta-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2rem auto 1rem;
  background-color: #222;
  padding: 5px 1rem;
}
@media screen and (min-width: 897px) {
  #cta .cta-box {
    width: 50%;
    padding: 1rem 2rem;
    margin: 4rem auto 0;
  }
}
#cta .cta-box img {
  width: 5rem;
  padding-right: 1rem;
}
@media screen and (min-width: 897px) {
  #cta .cta-box img {
    width: 10rem;
    padding-right: 3rem;
  }
}
#cta .cta-box p {
  color: #fff;
}
#cta .cta-box p span {
  font-size: 2rem;
}
@media screen and (min-width: 897px) {
  #cta .cta-box p span {
    font-size: 3rem;
  }
}

#contact {
  background-color: #222;
  height: auto;
  width: 100%;
  padding: 1.5rem 10px;
}
@media screen and (min-width: 897px) {
  #contact {
    padding: 2.5rem 0;
  }
}
#contact .contact {
  padding: 0rem 10px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 3rem;
  border: 3px solid #ff8800;
}
@media screen and (min-width: 897px) {
  #contact .contact {
    flex-direction: row;
    margin: 3rem auto;
    width: 1140px;
  }
}
#contact .contact-box {
  padding: 1.5rem;
  width: 100%;
}
@media screen and (min-width: 897px) {
  #contact .contact-box {
    width: 50%;
    padding: 0rem 0rem 0 3rem;
  }
}
#contact .contact-box h2 {
  text-align: left;
  color: #ff8800;
}
@media screen and (min-width: 897px) {
  #contact .contact-box h2 {
    font-size: 29px;
  }
}
#contact .contact-box .txt {
  padding-bottom: 2rem;
  font-weight: bold;
  color: #fff;
}
@media screen and (min-width: 897px) {
  #contact .contact-box .txt {
    font-size: 20px;
    padding-bottom: 3rem;
  }
}
#contact .contact-box h3 {
  color: #db0000;
  font-size: 17px;
}
@media screen and (min-width: 897px) {
  #contact .contact-box h3 {
    font-size: 28px;
  }
}
#contact .contact-box .ya {
  padding-top: 1rem;
}
#contact .contact-box .ya .icon {
  width: 2rem;
  color: #db0000;
}
@media screen and (min-width: 897px) {
  #contact .contact-box .ya .icon {
    width: 4.5rem;
  }
}
#contact .contact-box .ya .icon i::before {
  font-size: 3rem;
}
@media screen and (min-width: 897px) {
  #contact .contact-box .ya .icon i::before {
    font-size: 5rem;
  }
}
#contact iframe {
  height: 90rem;
  width: 100%;
}
@media screen and (min-width: 897px) {
  #contact iframe {
    padding-top: 2rem;
    width: 65rem;
  }
}

/**
/*footer*/
/*sp footer*/
#sp_footer {
  position: fixed;
  bottom: 1.5rem;
  width: 100%;
  z-index: 110;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.sp_footer_btn {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.sp_footer_btn_item {
  text-align: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #222;
  color: #fff;
}
.sp_footer_btn_item a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.5rem;
  color: #fff;
}
.sp_footer_btn_item:first-child {
  visibility: hidden;
}
.sp_footer_btn_item:first-child a img {
  height: 2.5rem;
  width: auto;
}
.sp_footer_btn_item:nth-child(2) {
  background-color: #000;
}
.sp_footer_btn_item:nth-child(2) a {
  color: #fff;
}
.sp_footer_btn_item:nth-child(2) a .icon i:before {
  font-size: 3.5rem;
}

.nav-footer .sp_footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #ccc;
  z-index: 100;
}
.nav-footer .sp_footer .curpon {
  width: 85%;
  position: absolute;
  bottom: 4.5rem;
  background-image: url("..images/sakura.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.nav-footer .sp_footer .curpon .icon {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  background-color: #fff;
}
.nav-footer .sp_footer .curpon .icon i:before {
  font-size: 4rem;
}
.nav-footer .sp_footer .curpon p {
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.3;
  padding: 1rem;
}
.nav-footer .sp_footer .curpon p span {
  font-weight: bold;
  color: red;
}
.nav-footer .sp_footer .curpon p b {
  font-size: 2rem;
}
.nav-footer .sp_footer .curpon p .line {
  color: #028a3b;
}
.nav-footer .sp_footer ul li a {
  padding: 1rem 0;
  color: #222;
  display: flex;
  gap: 0 2rem;
  align-items: center;
  justify-content: center;
}
.nav-footer .sp_footer ul li a .icon {
  width: 3rem;
  height: 3rem;
}
.nav-footer .sp_footer ul li a .icon i:before {
  font-size: 3rem;
}
.nav-footer .sp_footer ul li a span {
  font-size: 2rem;
  font-weight: bold;
}
.nav-footer .copyright {
  position: relative;
  padding: 1rem 0;
  font-size: 1.2rem;
  text-align: center;
}
/*********************/
/*********************/
.v-enter {
  opacity: 0;
}

.v-enter-to {
  opacity: 1;
}

.menu-enter-active {
  transition: all 0.56s cubic-bezier(0, 0.55, 0.45, 1);
}

.menu-leave-active {
  transition: all 0.4s cubic-bezier(0.5, 1, 0.89, 1);
}

.menu-enter,
.menu-leave-to {
  transform: translateX(100%);
}

.menu-enter-to,
.menu-leave {
  transform: translateX(0);
}

.fadey-enter {
  transform: translateY(10px);
  opacity: 0;
}

.fadey-enter-active {
  transition: opacity 1s ease-in, transform 1s ease-in;
}

.fadey-leave-active {
  transition: all 1s cubic-bezier(1, 0.5, 0.8, 1);
}

.fadey-leave-to {
  opacity: 0;
  transform: scale(0.97);
}

.fader-enter {
  transform: translateX(30px);
  opacity: 0;
}

.fader-enter-active {
  transition: opacity 1s ease-in, transform 2s ease-in;
}

.fader-leave-active {
  transition: all 2s cubic-bezier(1, 0.5, 0.8, 1);
}

.fader-leave-to {
  opacity: 0;
  transform: scale(0.97);
}

.fadel-enter {
  transform: translateX(-30px);
  opacity: 0;
}

.fadel-enter-active {
  transition: opacity 1s ease-in, transform 2s ease-in;
}

.fadel-leave-active {
  transition: all 2s cubic-bezier(1, 0.5, 0.8, 1);
}

.fadel-leave-to {
  opacity: 0;
  transform: scale(0.97);
}

.fade-enter {
  transform: translateX(5px);
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 1s ease-in, transform 1s ease-in;
}

.fade-leave-active {
  transition: all 1s cubic-bezier(1, 0.5, 0.8, 1);
}

.fade-leave-to {
  opacity: 0;
  transform: scale(0.97);
}/*# sourceMappingURL=common-style.css.map */