@charset "UTF-8";

@import "_variables.scss";
/* -------------------------- */
/* reset */
/* -------------------------- */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
figure {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
ul,
ol,
li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

/* -------------------------- */
/* all style */
/* -------------------------- */

html {
  font-size: 62.5%;
}
/*font-family: 'Noto Serif JP', serif; */
/*font-family: "Noto Sans JP",Noto Sans JP,"游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
*/

body {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: "游ゴシック Medium", YuGothic-M, YuGothic, "游ゴシック体",
    YuGothic, "Hiragino Kaku Gothic ProN", "Noto Sans JP", Noto Sans JP,
    メイリオ, Meiryo, sans-serif;
  font-size: 1.4rem;
  line-height: 1.6;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4 {
  font-weight: bold;
}
.mincho {
  font-family: "Noto Serif JP", serif;
}
a {
  text-decoration: none;
  color: #222;
}
img {
  width: 100%;
}
button,
a {
  &:hover {
    opacity: 0.8;
  }
}

/**************/
.contents {
  width: 100%;
  padding: 0 1.5rem;
  @include media897() {
    max-width: 1180px;
  }
}

.sp {
  display: block;
  @include media897() {
    display: none;
  }
}

.pc {
  display: none;
  @include media897() {
    display: block;
  }
}
/* header */

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  padding: 0;
  z-index: 1000;
  background-color: #222;
  .navbar {
    background-color: #222;
    height: 70px;
    margin: 0 1.5rem;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    @include media897() {
      width: 1000px;
      margin: 0 auto;
      height: 100px;
    }
    &-brand {
      width: 50%;
      @include media897() {
        width: 30%;
      }
      a {
        p {
          text-align: center;
          border: 1px solid #222;
          font-size: 1.2rem;
          font-weight: bold;
          padding: 0 1rem;
          margin: 1rem 0 0.5rem;
          background-color: #fff;
          @include media897() {
            font-size: 1.6rem;
            margin-bottom: 1rem;
          }
        }
        figure {
          display: flex;
          align-items: center;
          @include media897() {
          }
          img {
            width: 5rem;
            padding-right: 2rem;
            @include media897() {
              width: 6rem;
            }
          }
          figcaption {
            transform: scaleX(1.2);
            font-size: 2rem;
            font-weight: bold;
            color: #fff;
            @include media897() {
              font-size: 2.2rem;
            }
          }
        }
      }
    }
    &-links {
      width: 50%;
      @include media897() {
        width: 35%;
      }

      p {
        display: none;
        @include media897() {
          color: #fff;
          font-weight: bold;
          text-align: center;
          font-size: 16px;
          margin-bottom: 12px;
          display: flex;
          position: relative;
          align-items: center;
        }
        span {
          margin: 0 0.5rem;
        }
        &:before,
        &:after {
          @include media897() {
            background-color: #fff;
            content: "";
            height: 1px;
            flex-grow: 1;
          }
        }
      }
      &-item {
        a {
          font-size: 1.6rem;
          font-weight: bold;
          text-align: center;
          color: #fff;
          display: block;
          background-color: $line;
          border-radius: 0.5rem;
          width: 100%;
          padding: 0.5rem 0;
          @include media897() {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
  .curpon {
    z-index: 99;
    width: 34rem;
    position: absolute;
    top: 0.5rem;
    right: 0;
    border: 1px solid $color_gold;
    background-image: url("../images/sakura.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    .icon {
      position: absolute;
      top: 0.5rem;
      left: 1rem;
      color: $color_gold;
      background-color: #fff;
      i {
        &:before {
          font-size: 4rem;
        }
      }
    }
    p {
      text-align: center;
      font-size: 1.6rem;
      line-height: 1.3;
      padding: 1rem;
      span {
        font-weight: bold;
        color: red;
      }
      b {
        font-size: 2rem;
      }
      .line {
        color: #028a3b;
      }
    }
  }
}

/* -------------------------- */
/* main_visual  */
/* -------------------------- */
.mainvisual {
  position: relative;
  height: 100vh;
  overflow: hidden;
  @include media897() {
    max-height: 90vh;
    height: auto;
  }
  .mvswiper {
    overflow: hidden;
    .swiper-slide {
      img {
        width: auto;
        height: 100%;
        max-width: unset;
        object-position: center center;
        @include media897() {
          object-position: center center;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .msg {
    text-align: center;
    z-index: 1;
    background-image: linear-gradient(0deg, transparent 0 1%, #fff 90% 90%);
    padding: 3rem 2rem;
    position: absolute;
    left: 50%;
    top: 48%;
    width: 95%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    @include media897() {
      background-image: linear-gradient(
        90deg,
        transparent 0 10%,
        #fff 90% 100%
      );
      text-align: right;
      transform: unset;
      padding: 15rem 3rem 5rem 6rem;
      right: 0;
      left: unset;
      top: 100px;
      height: 100vh;
      width: 50%;
    }
    .desc {
      font-weight: bold;
      font-size: 2.3rem;
      line-height: 2.5;
      padding-bottom: 1rem;
      text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff,
        1px -1px 0 #fff, 0px 1px 0 #fff, 0-1px 0 #fff, -1px 0 0 #fff,
        1px 0 0 #fff;
      @include media897() {
        text-align: center;
        font-size: 3.5rem;
        justify-content: center;
        padding-bottom: 2rem;
        line-height: 2;
      }
    }
    &-logo {
      display: flex;
      gap: 2rem;
      align-items: center;
      justify-content: center;
      h2 {
        font-size: 3rem;
        @include media897() {
          font-size: 5rem;
        }
      }
      img {
        height: 5rem;
        width: auto;
        @include media897() {
          height: 7rem;
        }
      }
    }

    h3 {
      font-size: 2rem;
      @include media897() {
        text-align: center;
        font-size: 3rem;
      }
    }
    a {
      text-align: center;
      display: block;
      background-color: $line;
      color: #fff;
      padding: 0.5rem 0;
      width: 25rem;
      font-size: 2rem;
      font-weight: bold;
      border-radius: 0.5rem;
      margin: 2rem auto 0;
      @include media897() {
        width: 30rem;
        padding: 1rem 0;
        width: 30rem;
        font-size: 2rem;
      }
    }
  }
}
#beforeafter {
  background-color: #222;
  padding: 5rem 1.5rem;
  @include media897() {
    padding: 10rem 0rem;
  }
  h2 {
    color: #fff;
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 2rem;
    @include media897() {
      font-size: 3rem;
      padding-bottom: 5rem;
    }
  }
  p {
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.8;
    padding-bottom: 3rem;
    @include media897() {
      width: 65%;
      margin: 0 auto;
      font-size: 1.8rem;
      padding-bottom: 5rem;
    }
  }
  .beforeafter {
    margin: 3rem auto;
    @include media897() {
      margin: 5rem auto 0;
      width: 90%;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      @include media897() {
        gap: 2rem;
        justify-content: center;
      }
      li {
        padding-bottom: 2rem;
        display: flex;
        gap: 3rem 1rem;
        @include media897() {
          gap: 3rem 0.5rem;

          width: 32%;
        }
        figure {
          position: relative;
          padding-bottom: 2rem;
          @include media897() {
            width: 47%;
            padding-right: 1rem;
          }
          figcaption {
            position: absolute;
            top: 0;
            left: 0;
            padding: 0 1rem;
            color: #fff;
            background-color: red;
            text-align: center;
            @include media897() {
            }
          }
          &:last-child {
            figcaption {
              background-color: blue;
            }
          }
        }
      }
    }
  }
}
#plan {
  position: relative;
  padding: 2rem 0 0;
  z-index: 1;
  @include media897() {
    padding: 10rem 0 0;
  }
  .plan {
    ul {
      width: 100%;
      padding-top: 4rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include media897() {
        padding-top: 4rem;
        flex-direction: unset;
      }

      li {
        background-color: #222;
        padding: 10rem 0 5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include media897() {
          padding: 10rem 0 5rem;
          width: 33%;
        }
        &:nth-child(2) {
          padding: 0;
          @include media897() {
            padding: 0 0 5rem;
          }
        }
        figure {
          background-color: #fff;
          border-radius: 50%;
          width: 15rem;
          height: 15rem;
          text-align: center;
          img {
            width: 13rem;
            @include media897() {
            }
          }
        }
        h3 {
          padding: 2rem 0 2rem;
          color: #fff;
          font-size: 2.5rem;
        }
        a {
          display: block;
          width: 25rem;
          background-color: #aaa;
          border-radius: 1rem;
          padding: 0.5rem 0;
          text-align: center;
          font-size: 2rem;
          font-weight: bold;
          color: #fff;
          margin-bottom: 1rem;
          .icon {
            color: #fff;
            padding-left: 2rem;
            i {
              &:before {
                font-size: 2rem;
              }
            }
          }
        }
        .kikan {
          font-weight: bold;
          margin: 3rem 0 2rem;
          border: 2px solid #fff;
          padding: 1rem 2rem;
          font-size: 2rem;
        }
        .kingaku {
          font-weight: bold;
          font-size: 3rem;
          @include media897() {
            font-size: 4rem;
          }
          span {
            font-size: 1.6rem;
          }
        }
        .youtube {
          padding-top: 2rem;
          iframe {
            height: 17rem;
          }
        }

        &:first-child {
          figure {
            img {
              @include media897() {
                margin-top: -1rem;
                width: 15rem;
              }
            }
          }
          p {
            color: #fff;
            @include media897() {
            }
          }
        }
        &:nth-child(2) {
          @include media897() {
            background-color: #999;
            padding: 10rem 0 5rem;
          }
          figure {
            img {
            }
          }
          a {
            @include media897() {
              background-color: #666;
            }
          }
          .kikan {
            @include media897() {
              border: 2px solid #222;
            }
          }
        }
        &:nth-child(4) {
          figure {
            img {
              margin-top: -1rem;
              width: 15rem;
            }
          }
          p {
            color: #fff;
          }
        }
        &:nth-child(5) {
          background-color: #999;

          a {
            background-color: #666;
          }
          .kikan {
            border: 2px solid #222;
          }
        }
        &:last-child {
          background-color: #eee;
          figure {
            img {
              padding-top: 1rem;
              width: 10rem;
              @include media897() {
              }
            }
          }
          h3 {
            @include media897() {
              color: #666;
            }
          }
          .kikan {
            border: 2px solid #222;
          }
        }
      }
    }
    .fenix {
      color: #fff;
      .subtitle {
        color: #fff;
      }
      ul {
        background-color: unset;
        li {
          p {
          }
        }
      }
    }
    .cocco {
      padding-top: unset;
      @include media897() {
        padding-top: 0.5rem;
      }
      li {
        background-color: #999;
        a {
          background-color: #666;
        }
      }
      .course-wrap {
        color: #fff;
        background-color: #999;
        .subtitle {
          color: #fff;
        }
        .kikan {
          border: 2px solid #fff;
        }
        ul {
          li {
            span {
              font-weight: bold;
            }
          }
        }
      }
    }
    .hiyoko {
      color: #222;
      padding-top: unset;
      @include media897() {
        padding-top: 0.5rem;
      }
      li {
        background-color: #eee;
        .main {
          color: #222;
        }
        p {
          color: #222;
        }
        .kikan {
          color: #222;
          border: 2px solid #222;
        }
        .kingaku {
          color: #222;
        }
        a {
          color: #fff;
        }
      }
      .course-wrap {
        color: #222;
        background-color: #eee;
        .subtitle {
          color: #222;
        }
      }
    }
    .ancer {
      padding-top: 7rem;
      margin-top: -7rem;
    }
  }
  .sppage {
    .pla-msg {
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      line-height: 2.5;
      padding-bottom: 5rem;
      @include media897() {
        font-size: 2.5rem;
        padding-bottom: 15rem;
      }
    }
    h2 {
      border: 3px solid #222;
      padding: 3rem 0;
      width: 20rem;
      margin: 1rem auto;
      font-size: 2rem;
      text-align: center;
      color: #222;
      line-height: 1.3;
      position: relative;
      @include media897() {
        line-height: 1;
        padding: 5rem 0;
        width: 35rem;
        margin: -1rem auto -10rem;
        font-size: 3rem;
      }
      span {
        font-size: 2rem;
        @include media897() {
          font-size: 5rem;
        }
      }
      b {
        font-size: 3rem;
        @include media897() {
          font-size: 7rem;
        }
      }
    }
    .sppage-box {
      width: 100%;
      .sppage-box-item {
        &:first-child {
          background-color: #222;
        }
        &:nth-child(3) {
          background-color: #666;
          figure {
            img {
              padding-top: 1rem;
              width: 12rem;
              @include media897() {
              }
            }
          }
        }
        &:nth-child(5) {
          background-color: #eee;
          padding-bottom: 10rem;
          figure {
            img {
              padding-top: 1rem;
              width: 9rem;
              @include media897() {
              }
            }
          }
          h3 {
            color: #666;
          }
        }
      }

      &-item {
        padding: 5rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        figure {
          background-color: #fff;
          border-radius: 50%;
          width: 15rem;
          height: 15rem;
          text-align: center;
          img {
            width: 13rem;
            @include media897() {
            }
          }
        }
        h3 {
          padding: 2rem 0 2rem;
          color: #fff;
          font-size: 2.5rem;
        }
        a {
          display: block;
          width: 25rem;
          background-color: #aaa;
          padding: 0.5rem 0;
          text-align: center;
          font-size: 2rem;
          color: #fff;
          .icon {
            color: #fff;
            padding-left: 2rem;
            i {
              &:before {
                font-size: 2rem;
              }
            }
          }
        }
      }
      .sppage-box-in {
        position: relative;
        background-color: #fff;
        h4 {
          font-weight: 900;
          padding: 1rem 0;
          font-size: 2rem;
          text-align: center;
          @include media897() {
            font-size: 2.5rem;
          }
        }
        .close {
          position: absolute;
          top: 1rem;
          right: 2rem;
          color: #222;
          @include media897() {
          }
          .icon {
            i {
              &:before {
                font-size: 5rem;
                @include media897() {
                  font-size: 7rem;
                }
              }
            }
          }
        }
        .course-wrap {
          position: relative;
          @include media897() {
          }
          .course_fenix {
            padding: 3rem 1.5rem 3rem 4rem;
            width: 100%;
            list-style-position: inside;
            list-style: decimal;

            .course_fenix-box {
              li {
                list-style: disc;
                font-size: 1.6rem;
                padding-bottom: 1rem;
                @include media897() {
                  font-size: 1.8rem;
                }
                &:first-child {
                  background-color: unset;
                }
              }
            }
          }
          .course_box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 1.5rem;
            @include media897() {
              margin: 0 auto;
              width: 70%;
              flex-direction: row;
              padding: 3rem 0 5rem;
            }
            &-item {
              padding: 0 0 3rem;
              width: 100%;
              @include media897() {
                margin: 0 auto 3rem;
                width: 45%;
                padding: 3rem 0;
                margin: 0;
              }
              .course_box-title {
                text-align: center;
                @include media897() {
                  padding-right: 5rem;
                }

                .subtitle {
                  font-size: 1.8rem;
                  color: #222;
                  padding: 1rem 0;
                  text-align: left;
                  @include media897() {
                    text-align: center;
                  }
                }
                .kingaku {
                  span {
                    background-color: #222;
                    color: #fff;
                    padding: 1rem;
                    font-weight: 700;
                    margin-right: 1rem;
                    font-size: 1.4rem;
                    @include media897() {
                      font-size: 1.6rem;
                    }
                  }
                }
                figure {
                  padding-top: 2rem;
                  @include media897() {
                  }
                  img {
                    height: 15rem;
                    width: auto;
                    @include media897() {
                      height: 15rem;
                    }
                  }
                }
              }
              .youtube {
                padding: 0 1.5rem;
                @include media897() {
                }
                iframe {
                  width: 100%;
                  height: 20rem;
                  @include media897() {
                    width: 100%;
                    height: 28rem;
                  }
                }
              }
            }
          }
        }
        .course_box {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 3rem 1.5rem;
          @include media897() {
            margin: 0 auto;
            width: 70%;
            flex-direction: row;
            padding: 3rem 0 5rem;
          }
          .course_box-item {
            padding: 0 0 3rem;
            width: 100%;
            @include media897() {
              margin: 0 auto 3rem;
              width: 45%;
              padding: 3rem 0;
              margin: 0;
            }
            .course_box-title {
              text-align: center;
              @include media897() {
                padding-right: 5rem;
              }

              .subtitle {
                font-size: 1.8rem;
                color: #222;
                padding: 1rem 0;
                text-align: left;
                @include media897() {
                  text-align: center;
                }
              }
              .kingaku {
                span {
                  background-color: #222;
                  color: #fff;
                  padding: 1rem;
                  font-weight: 700;
                  margin-right: 1rem;
                  font-size: 1.4rem;
                  @include media897() {
                    font-size: 1.6rem;
                  }
                }
              }
              figure {
                padding-top: 2rem;
                @include media897() {
                }
                img {
                  height: 15rem;
                  width: auto;
                  @include media897() {
                    height: 15rem;
                  }
                }
              }
            }
            .youtube {
              padding: 0 1.5rem;
              @include media897() {
              }
              iframe {
                width: 100%;
                height: 20rem;
                @include media897() {
                  width: 100%;
                  height: 28rem;
                }
              }
            }
          }
        }
        &:last-child {
          margin-top: -5rem;
        }
      }
    }
  }
  .rbs {
    text-align: center;
    padding: 0 1.5rem 0;
    @include media897() {
    }
    h2 {
      font-weight: bold;
      font-size: 2.2rem;
      line-height: 1.5;
      padding: 7rem 0 2rem;
      @include media897() {
        line-height: 1.3;
        font-size: 3.5rem;
        padding: 10rem 0 2rem;
      }
      span {
        color: #999;
      }
      .small {
        font-size: 2.5rem;
        @include media897() {
          font-size: 2.5rem;
        }
      }
    }

    &-box {
      @include media897() {
        width: 40%;
        margin: 0 auto 5rem;
      }
      p {
        text-align: left;
        font-size: 1.8rem;
        padding-bottom: 1rem;
        @include media897() {
        }
      }
    }
  }
}
#about {
  @include media897() {
    padding-bottom: 10rem;
  }
  .about {
    padding: 1.5rem;
    @include media897() {
      width: 70%;
      margin: 0 auto;
    }
    h2 {
      font-size: 2.5rem;
      padding: 5rem 0 1rem;
      @include media897() {
        line-height: 1.3;
        font-size: 3.5rem;
        padding: 10rem 0 2rem;
      }
    }
    p {
      font-size: 1.6rem;
      line-height: 1.8;
      padding-bottom: 2rem;
      @include media897() {
        line-height: 2.2;
        font-size: 2rem;
        padding-bottom: 5rem;
      }
    }
  }
  .movie {
    background-color: #fff;
    padding: 2rem 1.5rem;
    text-align: center;
    h2 {
      font-size: 2.5rem;
      padding-bottom: 1rem;
      @include media897() {
        font-size: 3rem;
      }
    }

    video {
      @include media897() {
        width: 70%;
        margin: 0 auto;
      }
    }
  }
  .problem {
    background-color: #fff;
    padding: 2rem 0rem;
    text-align: center;
    @include media897() {
      padding: 2rem 0 0;
    }
    h2 {
      font-size: 2.2rem;
      padding: 0 0 1rem;
      @include media897() {
        line-height: 1.3;
        font-size: 2.5rem;
        padding: 10rem 0 2rem;
      }
    }
    .subtil {
      font-size: 1.7rem;
      padding-bottom: 1rem;
      @include media897() {
        font-size: 2.5rem;
        padding-bottom: 2rem;
      }
    }
    ul {
      li {
        background-image: 100%;
        background-position: center left;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 4rem 0;
        margin: 0 auto;
        position: relative;

        &:before {
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          content: "";
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
          z-index: 0;
          @include media897() {
          }
        }

        .icon {
          position: relative;
          width: 30%;
          color: #fff;
          @include media897() {
            width: 12%;
          }
          i {
            &:before {
              font-size: 8rem;
            }
          }
        }
        h3 {
          position: relative;
          width: 60%;
          color: #fff;
          font-size: 1.8rem;
          text-align: left;
          @include media897() {
            width: 40%;
            font-size: 2rem;
          }
        }
        &:nth-child(2) {
          &:before {
            background-color: rgba(228, 4, 4, 0.5);
          }
        }
        &:last-child {
          &:before {
            background-color: rgba(4, 19, 160, 0.5);
          }
        }
      }
    }
    &-text {
      font-size: 1.7rem;
      padding: 3rem 2rem;
      text-align: left;
      line-height: 2;
      @include media897() {
        width: 50%;
        margin: 0 auto;
        font-size: 2rem;
        padding: 4rem 0;
      }
    }
  }

  .faq {
    background-color: #fff;
    padding: 1rem 1.5rem 4rem;
    @include media897() {
      margin: 0 auto;
      max-width: 60rem;
    }
    h2 {
      font-size: 2.5rem;
      font-weight: bold;
      padding: 2rem 1.5rem;
      text-align: center;
    }
    p {
      font-size: 1.6rem;
      padding-bottom: 1.5rem;
    }
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      li {
        border: 1px solid #222;
        padding: 4rem 0;
        width: 100%;
        margin-bottom: 2rem;
        a {
          font-size: 1.8rem;
          font-weight: bold;
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          img {
            max-height: 10rem;
            width: auto;
          }
          h3 {
            padding-top: 1rem;
            font-weight: bold;
          }
          p {
            padding: 1rem 1.5rem;
          }
        }
      }
    }
  }

  .teature {
    margin-bottom: 13rem;
    @include media897() {
      padding-bottom: 10rem;
      width: 70%;
      margin: 0 auto;
    }
    h2 {
      font-size: 2.5rem;
      padding: 0 0 1rem;
      text-align: center;
      @include media897() {
        text-align: left;
        line-height: 1.3;
        font-size: 3.5rem;
        padding: 10rem 0 2rem;
      }
      span {
        font-size: 1.6rem;
      }
    }
    &_box {
      display: block;

      @include media897() {
        display: flex;
        justify-content: space-between;
      }
      .img {
        padding: 0 1.5rem;
        @include media897() {
          width: 35%;
          padding: unset;
        }
      }
      .text {
        width: 100%;
        padding: 2rem 0;
        line-height: 2;
        @include media897() {
          width: 63%;
          line-height: 1.8;
          padding: unset;
        }

        ul {
          padding-bottom: 2rem;
          li {
            font-size: 1.6rem;
            padding: 0 2rem 2rem;
            padding-bottom: 1rem;
            h3 {
              font-size: 1.8rem;
              @include media897() {
                line-height: 1.3;
                font-size: 2.2rem;
              }
            }
          }
        }
        p {
          margin: 0 1.5rem;
          font-size: 1.6rem;
          padding: 2rem;
          background-color: #eee;
          @include media897() {
            margin-left: 2rem;
          }
        }
        .zayu {
          padding-bottom: 0;
        }
      }
    }
    &_btm {
      p {
        margin: 0 1.5rem;
        font-size: 1.6rem;
        padding: 2rem;
        background-color: #eee;
        @include media897() {
          margin-left: 2rem;
        }
      }
      .zayu {
        padding-bottom: 0;
      }
    }
  }
}
#course {
  border-top: #fff solid 1px;
  position: relative;

  padding: 0;
  @include media897() {
    border-top: unset;
    width: 100%;
  }
  .course {
    @include media897() {
    }
    a {
      @include media897() {
        position: absolute;
        top: 2rem;
        right: 5rem;
      }
      .icon {
        i {
          &:before {
            font-size: 5rem;
            @include media897() {
              font-size: 7rem;
            }
          }
        }
      }
    }
    .batu {
      position: absolute;
      top: 2rem;
      right: 3rem;
      width: 3rem;
      background-color: unset;
      border-radius: unset;
      padding: 0;
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
      color: #fff;
      margin-bottom: 1rem;
      .icon {
        i {
          &:before {
            font-size: 5rem;
            @include media897() {
              font-size: 7rem;
            }
          }
        }
      }
    }
    &-wrap {
      position: relative;
      background-color: #222;
      padding-bottom: 10rem;
      @include media897() {
      }
      .fenix,
      .course_fenix {
        color: #fff;
        .subtitle {
          color: #fff;
          text-align: center;
          line-height: 2;
          font-size: 2rem;
          @include media897() {
            font-size: 2.5rem;
          }
        }
        .kingaku {
          font-size: 3rem;
          font-weight: bold;
          @include media897() {
            font-size: 4rem;
          }
        }
        .kikan {
          width: 80%;
          font-weight: bold;
          margin: 3rem auto 2rem;
          border: 2px solid #fff;
          padding: 1rem 2rem;
          font-size: 2rem;
          @include media897() {
            width: 50%;
            font-size: 2rem;
          }
        }
      }
      .plan-flow {
        width: 100%;
        margin: 0 auto;
        padding-top: 2rem;
        @include media897() {
          width: 50%;
        }
        h3 {
          font-size: 2rem;
          font-weight: bold;
          text-align: center;
          padding-bottom: 2rem;
          color: #fff;
          @include media897() {
            font-size: 3rem;
          }
        }
        &-step {
          background-color: #eee;
          padding: 2rem 0 3rem;

          h4 {
            font-size: 1.5rem;
            font-weight: bold;
            text-align: center;
            color: #fff;
            background-color: #222;
            width: 12rem;
            margin: 0 auto;
            padding: 0.5rem 0 0.3rem;
            border-radius: 3rem;
            @include media897() {
              font-size: 2rem;
            }
          }
          .step {
            padding: 1.5rem;
            position: relative;

            p,
            .step1 {
              padding: 1.5rem;
              background-color: #fff;
              color: #222;
              line-height: 1.8;
              @include media897() {
                font-size: 1.8rem;
                line-height: 2;
              }
              span {
                font-weight: bold;
              }
            }
            .step2 {
              padding: 1.5rem 1.5rem 1rem;
              background-color: #ccc;
              color: #222;
            }
            .sankaku {
              position: absolute;
              left: 50%;
              transform: translate(-50%, -50%);
              -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              bottom: -1.5rem;
              width: 0;
              height: 0;
              border-left: 20px solid transparent;
              border-right: 20px solid transparent;
              border-top: 20px solid #fff;
            }
            .sankaku-g {
              position: absolute;
              left: 50%;
              transform: translate(-50%, -50%);
              -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              bottom: -1.5rem;
              width: 0;
              height: 0;
              border-left: 20px solid transparent;
              border-right: 20px solid transparent;
              border-top: 20px solid #ccc;
            }
          }
        }
      }
      .plan-tokuten {
        position: relative;
        margin: 3rem auto;
        width: 90%;
        @include media897() {
          margin: 5rem auto 3rem;
          width: 50%;
        }
        h3 {
          font-size: 2rem;
          font-weight: bold;
          padding: 1.5rem 0;
          text-align: center;
          color: #fff;
          background-color: #222;
          @include media897() {
            font-size: 3rem;
          }
          span {
            font-size: 2rem;
            color: red;
            @include media897() {
              font-size: 3.5rem;
            }
          }
        }
        ul {
          color: #222;
          background: linear-gradient(
            45deg,
            #b67b03 0%,
            #daaf08 10%,
            #fee9a0 70%,
            #daaf08 90% 100%
          );
        }
        .present {
          padding: 3rem 1.5rem;
          li {
            font-size: 1.5rem;
            font-weight: bold;
            line-height: 2;
            background: unset;
            padding: unset;
            @include media897() {
              font-size: 2rem;
            }
          }
        }
      }
    }
    .course_cocco {
      background-color: #999;
      padding-bottom: 10rem;
      .subtitle {
        color: #fff;
        text-align: center;
        line-height: 2;
        @include media897() {
          font-size: 2.5;
        }
      }
      .kingaku {
        font-size: 4rem;
        font-weight: bold;
      }
      .kikan {
        width: 50%;
        font-weight: bold;
        margin: 3rem auto 2rem;
        border: 2px solid #222;
        padding: 1rem 2rem;
        font-size: 2rem;
      }
    }
    .course_hiyoko {
      background-color: #eee;
      padding-bottom: 10rem;
      .subtitle {
        text-align: center;
        line-height: 2;
        @include media897() {
          font-size: 2.5;
        }
      }
      .kingaku {
        font-weight: bold;
        font-size: 4rem;
      }
      .kikan {
        font-weight: bold;
        width: 50%;
        margin: 3rem auto 2rem;
        border: 2px solid #222;
        padding: 1rem 2rem;
        font-size: 2rem;
        @include media897() {
        }
      }
      .kikan2 {
        font-weight: bold;
        width: 80%;
        margin: 3rem auto 2rem;
        border: 2px solid #222;
        padding: 1rem 2rem;
        font-size: 2rem;
      }
    }
    h4 {
      font-weight: 900;
      padding: 5rem 0 0;
      font-size: 2.5rem;
      text-align: center;
      @include media897() {
        font-size: 3rem;
        padding: 1rem 0;
      }
    }
    .course_fenix,
    .course_hiyoko_toku,
    .course_cocco_toku {
      padding: 0 1.5rem 0 3rem;
      @include media897() {
        padding: unset;
        margin: 2rem auto 0;
        line-height: 2;
        width: 50%;
      }
      h3 {
        font-size: 1.6rem;
        font-weight: 700;
        padding: 3rem 0 1rem;
      }
      h4 {
        text-align: center;
      }
      ul {
        padding-bottom: 3rem;
        @include media897() {
          padding-bottom: 5rem;
        }
        li {
          list-style: disc;
          font-size: 1.6rem;
          padding: 0 0 1rem;
          background: unset;
          @include media897() {
            font-size: 1.8rem;
            padding: 0 0 1rem;
          }
        }
      }
    }
    .course_cocco_tokuten,
    .course_hiyoko_tokuten {
      width: 90%;
      margin: 3rem auto;
      @include media897() {
        width: 50%;
        margin: 5rem auto;
      }
      h3 {
        font-size: 1.8rem;
        font-weight: bold;
        padding: 1.5rem 0;
        text-align: center;
        color: #fff;
        background-color: #222;
        span {
          font-size: 3rem;
          color: red;
        }
      }
      p {
        padding: 1.5rem 0;
        @include media897() {
        }
        span {
          font-size: 1.1rem;
        }
      }
      .present {
        padding: 3rem 1.5rem;
        li {
          font-size: 1.5rem;
          font-weight: bold;
          line-height: 2;
        }
      }

      .title-btn {
        display: flex;
        flex-direction: row;
        li {
          font-size: 1.6rem;
          width: 50%;
          text-align: center;
          background-color: #fff;
          font-weight: bold;
          padding: 1rem;
          &:last-child {
            background-color: #ccc;
          }
          span {
            color: #222;
          }
        }
      }
      .swich {
        ul {
          padding: 1.5rem;
          background-color: #fff;
          list-style: unset;
          @include media897() {
            padding: 2rem 1.5rem 2rem 4rem;
          }
          li {
            list-style-type: decimal;
            list-style-position: outside;
            padding: 0 0 1rem;
            font-size: 1.5rem;
            font-weight: bold;
            text-align: left;
            background-color: unset;
            color: #222;
            align-items: unset;
            @include media897() {
              padding: 0 0 1rem;
            }
          }
        }
        .last {
          background-color: #ccc;
        }
      }
    }
    .course_hiyoko_toku {
      ul {
        li {
          h3 {
            color: #222;
          }
          p {
            color: #222;
          }
        }
      }
      p {
        color: #222;
      }
      .title-btn {
        li {
          background-color: #fff;
        }
      }
      .swich {
        ul {
          background-color: #fff;
        }
      }
    }
    &_box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 1.5rem;
      align-items: center;
      @include media897() {
        margin: 0 auto;
        width: 70%;
        padding: 3rem 0;
      }
      &-item {
        padding: 0 0 3rem;
        width: 100%;
        @include media897() {
          margin: 0 auto 3rem;
          width: 50%;
          padding: 3rem 0;
          margin: 0;
        }
        .course_box-title {
          text-align: center;
          @include media897() {
            padding-right: 5rem;
          }

          .subtitle {
            font-size: 1.8rem;
            font-weight: bold;
            padding: 1rem 0;
            @include media897() {
            }
          }
          .kingaku {
            span {
              background-color: #222;
              color: #fff;
              padding: 1rem;
              font-weight: 700;
              margin-right: 1rem;
              font-size: 1.4rem;
              @include media897() {
                font-size: 1.6rem;
              }
            }
          }
          figure {
            padding-top: 2rem;
            @include media897() {
            }
            img {
              height: 15rem;
              width: auto;
              @include media897() {
                height: 15rem;
              }
            }
          }
        }
        .youtube {
          padding: 0 1.5rem;
          @include media897() {
          }
          iframe {
            width: 100%;
            height: 20rem;
            @include media897() {
              width: 100%;
              height: 28rem;
            }
          }
        }
      }
    }
    &:nth-child(odd) {
      background-color: #fff;
      .course_box-item {
        &:first-child {
          @include media897() {
            width: 50%;
            order: 2;
            padding-left: 2rem;
          }
          img {
            width: auto;
            height: 15rem;
            @include media897() {
              height: 25rem;
            }
          }
        }
        &:nth-child(2) {
          @include media897() {
            margin: 0 auto;
            order: 1;
          }
        }
      }
    }
    &:nth-child(even) {
      background-color: #dee3e7;
      .course_box {
        &:first-child {
          width: 90%;
          @include media897() {
            order: 1;
            padding-right: 2rem;
          }
        }
        &:nth-child(2) {
          margin: 2rem auto -5px;
          @include media897() {
            order: 2;
            padding-left: 2rem;
            margin: 0 auto;
          }
        }
      }
    }
    &:first-child {
      figure {
        img {
          height: 25rem;
          width: auto;
          @include media897() {
          }
        }
      }
    }
    &:last-child {
      @include media897() {
        padding-bottom: 0;
      }
    }
  }
  .support_btn {
    text-align: center;
    margin-top: -1rem;
    padding-bottom: 5rem;
    background-color: #fff;
    @include media897() {
    }
    a {
      display: block;
      border-radius: 0.5rem;
      padding: 0.8rem 3rem 1rem;
      font-size: 2rem;
      width: 30rem;
      background-color: $line;
      margin: 1rem auto;
      color: #fff;
      @include media897() {
      }
    }
  }
  .batu2 {
    position: absolute;
    bottom: -11rem;
    right: 3rem;
    width: 3rem;
    background-color: unset;
    border-radius: unset;
    padding: 0;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 1rem;
    .icon {
      i {
        &:before {
          font-size: 5rem;
          @include media897() {
            font-size: 7rem;
          }
        }
      }
    }
  }
}

#salon,
#only {
  background-color: #fff;
  .salon,
  .only {
    text-align: center;
    padding: 0 1.5rem;
    @include media897() {
      padding: 0 0 10rem 0;
    }
    h2 {
      font-weight: bold;
      font-size: 2.2rem;
      line-height: 1.5;
      padding-bottom: 2rem;
      @include media897() {
        line-height: 1.3;
        font-size: 3.5rem;
      }
      span {
        color: #999;
      }
      .small {
        font-size: 2.5rem;
        @include media897() {
          font-size: 2.5rem;
        }
      }
    }
    .disc {
      font-weight: bold;
      margin: 0 auto 1rem;
      font-size: 2rem;
      background: linear-gradient(transparent 85%, #999 20%);
      width: 70%;
      @include media897() {
        margin: 0 auto 3rem;
        font-size: 2.5rem;
        background: linear-gradient(transparent 80%, #999 20%);
        width: 550px;
      }
    }

    &-box {
      @include media897() {
        width: 40%;
        margin: 0 auto 5rem;
      }
      p {
        text-align: left;
        font-size: 1.8rem;
        padding-bottom: 1rem;
        @include media897() {
        }
      }
    }
    &-box2 {
      @include media897() {
        width: 70%;
        margin: 0 auto 3rem;
      }
      h3 {
        font-size: 2.5rem;
        @include media897() {
          font-size: 3rem;
        }
        video {
          @include media897() {
          }
        }
      }
    }
  }
}
#salon,
#only {
  padding-top: 0rem;
  background-color: #fff4e1;
  padding-bottom: 5rem;
  @include media897() {
    padding-top: 10rem;
    padding-bottom: 0;
  }
  .salon,
  .only {
    h2 {
      span {
        color: #9a7e4e;
      }
    }
    .disc {
      width: 93%;
      background: linear-gradient(transparent 85%, #9a7e4e 20%);
      padding-bottom: 1rem;
      @include media897() {
        width: 500px;
      }
    }
    &-box2 {
      display: flex;
      flex-direction: column;
      @include media897() {
        padding-top: 3rem;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
      }
      figure {
        padding: 1rem 0;
        @include media897() {
          padding: unset;
        }
      }
      .support_btn {
        @include media897() {
        }
        p {
          text-align: left;
          font-size: 1.8rem;
          padding-bottom: 1.5rem;
          line-height: 2;
          @include media897() {
            padding-bottom: 1.5rem;
          }
        }
        a {
          display: block;
          border-radius: 0.5rem;
          padding: 0.8rem 3rem 1rem;
          margin: 1.5rem auto 0;
          font-size: 2rem;
          font-weight: bold;
          width: 30rem;
          background-color: $line;
          color: #fff;
          @include media897() {
            margin: unset;
          }
        }
      }
    }
    &-step {
      width: 100%;
      padding: 2rem;
      @include media897() {
        width: 60%;
        padding: 0 2rem;
      }

      &-head {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        @include media897() {
        }

        .icon {
          width: 5rem;
          color: #222;
          padding-right: 5rem;
          position: relative;
          z-index: 1;
          i {
            &:before {
              font-size: 4rem;
            }
          }
          &:before {
            content: "";
            width: 5rem;
            height: 5rem;
            background-color: #fff;
            border-radius: 50%;
            position: absolute;
            z-index: -1;
          }
        }
      }
      h3 {
        text-align: center;
        font-weight: bold;
        font-size: 2rem;
        @include media897() {
          font-size: 2.5rem;
        }
      }
      ul {
        padding: 4rem 0 0 2rem;
        margin: 0 auto;
        width: 100%;
        text-align: left;
        @include media897() {
          max-width: 32rem;
          padding: 3rem;
          margin: 0 auto;
        }
        li {
          padding-bottom: 4rem;
          font-size: 1.6rem;
          p {
            font-size: 2rem;
            span {
              font-size: 3rem;
              padding-right: 2rem;
            }
            line-height: 0.5;
          }
          .icon {
            display: block;
            color: #9a7e4e;
            margin-left: 9rem;
            i {
              &:before {
                font-size: 3rem;
              }
            }
          }
          &:last-child {
            .icon {
              display: none;
            }
          }
        }
      }
      h4 {
        padding: 2rem 0 3rem;
        font-size: 2rem;
        text-align: center;
        color: #fff;
        hr {
        }
      }
      a {
        border: 1px solid #fff;
        padding: 1rem 0;
        border-radius: 1rem;
        margin: 0rem auto 3rem;
        text-align: center;
        color: #fff;
        width: 20rem;
        display: block;
        font-size: 1.4rem;
        ::v-deep .icon {
          color: #fff;
          padding-left: 2rem;
        }
      }
    }
    .rbs-box {
      text-align: left;
      font-size: 1.8rem;
      line-height: 1.8;
      padding: 2rem 0;
      width: 95%;
      margin: 0 auto;
      @include media897() {
        margin: 2rem auto;
        width: 60%;
      }
    }
  }
}
#salon {
  .salon {
    padding: 5rem 1.5rem 10rem;
    @include media897() {
      padding: 0 0 10rem 0;
    }
  }
}
#only {
  background-color: #fff;
  .only {
    .only-box2 {
      @include media897() {
        gap: 10rem;
        align-items: flex-start;
      }
      p {
        @include media897() {
          padding-bottom: 5rem;
        }
      }
    }
  }
}

#offline {
  padding-top: 1rem;
  background-color: #eee;
  padding-bottom: 5rem;
  @include media897() {
    padding-top: 5rem;
    padding-bottom: 0;
  }
  .offline {
    text-align: center;

    h2 {
      font-weight: bold;
      font-size: 2.2rem;
      line-height: 1.5;
      width: 70%;
      margin: 1rem auto 3rem;
      border-bottom: 5px solid #9a7e4e;
      @include media897() {
        margin: 1rem auto 3rem;
        padding-bottom: 2rem;

        line-height: 1.3;
        font-size: 3.5rem;
        width: 50rem;
      }
      span {
        color: #999;
      }
      .small {
        font-size: 2.5rem;
        @include media897() {
          font-size: 2.5rem;
        }
      }
    }
    figure {
      @include media897() {
      }
      img {
        width: 50rem;
        @include media897() {
          width: 100%;
          max-width: 50rem;
        }
      }
    }
    &-box {
      width: 93%;
      padding: 1.5rem;
      margin: 0 auto;
      font-size: 2rem;
      @include media897() {
        width: 500px;
      }
    }
    &-box2 {
      padding: 1.5rem;
      @include media897() {
        margin: 0 auto;
        width: 1024px;
        padding: 3rem;
      }

      p {
        text-align: left;
        font-size: 1.4rem;
        padding: 1.5rem 0;
        line-height: 2;
        @include media897() {
          padding: 1rem 0;
        }
        &:first-child {
          padding: 1.5rem;
          background-color: #fff;
          font-size: 1.8rem;
          @include media897() {
            font-size: 1.8rem;
            padding: 3rem;
          }
        }
      }
      a {
        display: block;
        border-radius: 0.5rem;
        padding: 0.8rem 3rem 1rem;
        margin: 1.5rem auto 3rem;
        font-size: 2rem;
        font-weight: bold;
        width: 30rem;
        background-color: $line;
        color: #fff;
        @include media897() {
          margin: 1.5rem auto 5rem;
        }
      }
    }
  }
  .offlineSwiper {
    padding-bottom: 5rem;
    @include media897() {
      padding-bottom: 10rem;
    }
  }
}
/*support*/
#support {
  background-color: #dff4d3;

  padding: 1rem 0 5rem;
  @include media897() {
    padding: 5rem 0 0;
  }

  .support {
    text-align: center;
    margin: 0 auto;
    @include media897() {
      padding: 3rem 0 5rem;
    }
    h2 {
      font-size: 2.2rem;
      padding-bottom: 2rem;
      @include media897() {
        font-size: 4rem;
      }
      span {
        color: #70ce4a;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include media897() {
        flex-direction: row;
        gap: 2rem;
      }
      li {
        padding: 3rem 2rem;
        background-color: #fff;
        margin-bottom: 2rem;
        @include media897() {
          width: 47%;
        }
        h3 {
          color: #70ce4a;
          font-size: 2rem;
          padding-bottom: 1.5rem;
        }
        p {
          text-align: left;
          font-size: 1.8rem;
          line-height: 1.7;

          @include media897() {
            min-height: 134px;
          }
        }
      }
    }
  }
  .support_btn {
    text-align: center;
    margin-top: -1rem;
    padding-bottom: 5rem;
    background-color: #d8d0bb;
    @include media897() {
    }
    a {
      display: block;
      border-radius: 0.5rem;
      padding: 0.8rem 3rem 1rem;
      font-size: 2rem;
      width: 30rem;
      background-color: $color_gold;
      margin: 1rem auto;
      color: #fff;
      @include media897() {
      }
    }
  }
}

#cta {
  padding: 4rem 0;
  @include media897() {
    padding: 10rem 1.5rem 0;
    margin-top: 7rem;
  }
  .cta {
    border: 10px double #999;
    padding: 3rem 1rem;
    text-align: center;

    margin: 3rem auto;
    @include media897() {
      width: 95%;
      padding: 5rem 0;
      margin: 10rem auto;
    }
    h2 {
      font-size: 2.2rem;
      padding-bottom: 2rem;
      @include media897() {
        font-size: 4rem;
      }
      span {
        color: #70ce4a;
      }
    }
    a {
      display: block;
      text-align: center;
      font-size: 2rem;
      color: #fff;
      font-weight: bold;
      border-radius: 2rem;
      background-color: #06c755;
      padding: 1rem 0;
      width: 80%;
      margin: 2rem auto 5rem;
      @include media897() {
        font-size: 2.5rem;
        width: 30%;
      }
    }
    &-head {
      font-size: 2rem;
      line-height: 2;
      font-weight: bold;
      @include media897() {
        font-size: 2.2rem;
      }
    }
    &-head2 {
      font-size: 2.5rem;
      line-height: 1.5;
      font-weight: bold;
      @include media897() {
        font-size: 3.5rem;
      }
      span {
        color: red;
        font-size: 4rem;
        @include media897() {
          font-size: 6rem;
        }
      }
    }
    &-head3 {
      width: 90%;
      margin: 3rem auto;
      border: 5px double #222;
      padding: 1.5rem 1rem;
      text-align: left;
      font-size: 2rem;
      line-height: 1.8;
      @include media897() {
        line-height: 1.5;
        text-align: center;
        padding: 1.5rem 0;
        width: 80%;
        margin: 5rem auto;
        font-size: 2.7rem;
      }
    }
    &-body {
      border-top: 1px dotted #222;
      width: 100%;
      margin: 3rem auto;
      @include media897() {
        width: 80%;
        margin: 3rem auto;
      }
      .text {
        font-size: 1.6rem;
        line-height: 2;
        font-weight: bold;
        padding-top: 2rem;
        padding-bottom: 3rem;
        @include media897() {
          padding-top: unset;
          font-size: 2rem;
          line-height: 3;
        }
        span {
          font-size: 4rem;
          line-height: 2;
          font-weight: bold;
          @include media897() {
            font-size: 7rem;
          }
        }
      }
      a {
        @include media897() {
        }
        img {
          width: 40%;
          @include media897() {
            width: 20rem;
          }
        }
      }
      .cta-line {
        font-weight: bold;
        color: #00b900;
        font-size: 2rem;
        @include media897() {
        }
      }
    }
    &-foot {
      @include media897() {
      }
      p {
        font-weight: bold;
        font-size: 2rem;
        @include media897() {
          font-size: 3rem;
        }
      }
      ul {
        text-align: center;
        padding: 3rem 0 0;
        @include media897() {
          padding: 5rem 0;
        }
        li {
          font-size: 1.8rem;

          padding-bottom: 1rem;
          h3 {
            font-size: 2rem;
            font-weight: bold;
            padding-bottom: 1rem;
          }
          img {
            width: 15rem;
            padding-bottom: 1rem;
            @include media897() {
              width: 15rem;
            }
          }
          .mono {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

#plan,
#rbs,
#only,
#support,
#cta {
  display: block;
  padding-top: 70px;
  margin-top: -100px;
}
#salon {
  margin-top: -100px;
}
#contact {
  padding-top: 10rem;
  height: auto;
  width: 100%;
  margin: -10rem auto 3rem;
  @include media897() {
    margin: 3rem auto;
    width: 65rem;
  }
  iframe {
    height: 90rem;
    width: 100%;

    @include media897() {
      width: 65rem;
    }
  }
}
/**
/*footer*/
/*sp footer*/
#sp_footer {
  position: fixed;
  bottom: 1.5rem;
  width: 100%;
  z-index: 110;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.sp_footer_btn {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  &_item {
    text-align: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #222;
    color: #fff;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 4.5rem;
      color: #fff;
    }

    &:first-child {
      visibility: hidden;
      a {
        img {
          height: 2.5rem;
          width: auto;
        }
      }
    }
    &:nth-child(2) {
      background-color: #000;
      a {
        .icon {
          i {
            &:before {
              font-size: 3.5rem;
            }
          }
        }
        color: #fff;
      }
    }
  }
}

.nav-footer {
  @include media897() {
  }
  .sp_footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #ccc;
    z-index: 100;
    .curpon {
      width: 85%;
      position: absolute;
      bottom: 4.5rem;
      border: 1px solid $color_gold;
      background-image: url("../images/sakura.jpg");
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      .icon {
        position: absolute;
        top: 0.5rem;
        left: 1rem;
        color: $color_gold;
        background-color: #fff;
        i {
          &:before {
            font-size: 4rem;
          }
        }
      }
      p {
        text-align: center;
        font-size: 1.6rem;
        line-height: 1.3;
        padding: 1rem;
        span {
          font-weight: bold;
          color: red;
        }
        b {
          font-size: 2rem;
        }
        .line {
          color: #028a3b;
        }
      }
    }
    ul {
      li {
        a {
          padding: 1rem 0;
          color: #222;
          display: flex;
          gap: 0 2rem;
          align-items: center;
          justify-content: center;
          .icon {
            width: 3rem;
            height: 3rem;
            i {
              &:before {
                font-size: 3rem;
              }
            }
          }
          span {
            font-size: 2rem;
            font-weight: bold;
          }
        }
      }
    }
  }

  .copyright {
    position: relative;
    padding: 1rem 0;
    font-size: 1.2rem;
    text-align: center;
    @include media897() {
    }
  }
}

/*********************/
//trancrate
/*********************/
.v-enter {
  opacity: 0;
}
.v-enter-to {
  opacity: 1;
}
.menu-enter-active {
  transition: all 0.56s cubic-bezier(0, 0.55, 0.45, 1);
}

.menu-leave-active {
  transition: all 0.4s cubic-bezier(0.5, 1, 0.89, 1);
}

.menu-enter,
.menu-leave-to {
  transform: translateX(100%);
}

.menu-enter-to,
.menu-leave {
  transform: translateX(0);
}
//縦方向（y）
.fadey-enter {
  transform: translateY(10px);
  opacity: 0;
}
.fadey-enter-active {
  //transition: all 3s ease;
  transition: opacity 1s ease-in, transform 1s ease-in;
}
.fadey-leave-active {
  transition: all 1s cubic-bezier(1, 0.5, 0.8, 1);
}
.fadey-leave-to {
  opacity: 0;
  transform: scale(0.97);
}

//横方向（r）
.fader-enter {
  transform: translateX(30px);
  opacity: 0;
}
.fader-enter-active {
  //transition: all 3s ease;
  transition: opacity 1s ease-in, transform 2s ease-in;
}
.fader-leave-active {
  transition: all 2s cubic-bezier(1, 0.5, 0.8, 1);
}
.fader-leave-to {
  opacity: 0;
  transform: scale(0.97);
}

//横方向（l）
.fadel-enter {
  transform: translateX(-30px);
  opacity: 0;
}
.fadel-enter-active {
  //transition: all 3s ease;
  transition: opacity 1s ease-in, transform 2s ease-in;
}
.fadel-leave-active {
  transition: all 2s cubic-bezier(1, 0.5, 0.8, 1);
}
.fadel-leave-to {
  opacity: 0;
  transform: scale(0.97);
}

.fade-enter {
  transform: translateX(5px);
  opacity: 0;
}
.fade-enter-active {
  //transition: all 3s ease;
  transition: opacity 1s ease-in, transform 1s ease-in;
}
.fade-leave-active {
  transition: all 1s cubic-bezier(1, 0.5, 0.8, 1);
}
.fade-leave-to {
  opacity: 0;
  transform: scale(0.97);
}
