<!DOCTYPE html>
<html lang="ja">
	<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
		<meta name="format-detection" content="telephone=no,address=no,email=no">
    <link rel="icon" href="images/favicon.ico">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
		<link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
		<link rel="stylesheet" href="css/common-style.css">
	</head>

	<body>
    <div id="lp">
      <div id="header">

        <header class="nav">
          <nav class="navbar salon-nav">

            <div class="navbar-brand">

            </div>
            <div class="head-r">
              <a class="line_btn" line href="https://lin.ee/lGRisGd" target="blank">
                <img alt="LINE@友だち追加" src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" class="contact_line">
              </a>
              <div class="hamburger_btn" @click='clickMenu'
                :class="{'open':ActiveBtn}">
                <span class="line line_01" :class="{'btn_line01':ActiveBtn}"></span>
                <span class="line line_02" :class="{'btn_line02':ActiveBtn}"></span>
                <span class="line line_03" :class="{'btn_line03':ActiveBtn}"></span>
              </div>
            </div>
          </nav>
          <aside class="nav">

            <div class="nav-menu" v-show="ActiveBtn">
              <ul class="nav-menu-menbers">
                <li v-for="(item,index) in menu" :key="index">
                  <a :href="item.url">
                    <div>{{item.title}}</div><b-icon icon="chevron-right" />
                  </a>
                </li>
              </ul>
            </div>

          </aside>
        </header>
      </div>
      <!--ここから本文-->
      <article class="lp" v-cloak >
      <!--
        <section id="kv" >
          <div class="kv">
            <transition appear name="fadey">
              <div class="msg" >
                <p class="desc">1ヵ月でリペア脳に！<br>たったの5か月で開業に！</p>
                <div class="msg-logo">
                  <img src="images/common/logo.png" alt="RBS">
                  <h2>R B S</h2>
                </div>
                <h3>リペアビジネススクール</span></h3>
                <a href="https://lin.ee/lGRisGd">LINEでお友達になる</a>
              </div>
            </transition>

          </div>
        </section>
        -->
        <section class="mainvisual">
          <div class="swiper mvswiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="slide-img" v-if="inWidth > 1024">
                  <img src="images/common/kb-bk.jpg" alt="RBS">
                </div>
                <div class="slide-img" v-else>
                  <img src="images/common/kb-bk.jpg" alt="RBS">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="slide-img" v-if="inWidth > 1024">
                  <img src="images/common/kb-bk2.jpg" alt="RBS">
                </div>
                <div class="slide-img" v-else>
                  <img src="images/common/kb-bk2.jpg" alt="RBS">
                </div>
              </div>
            </div>
          </div>
          <div class="msg" >
            <p class="desc">1ヵ月でリペア脳に！<br>たったの5か月で開業に！</p>
            <div class="msg-logo">
              <img src="images/common/logo.png" alt="RBS">
              <h2>R B S</h2>
            </div>
            <h3>リペアビジネススクール</span></h3>
            <a href="https://lin.ee/lGRisGd">LINEでお友達になる</a>
          </div>
        </section>

        <section id="plan" v-if="inWidth > 897">

          <div class="plan" >
            <transition name="fadey">
              <p v-show="plan1" class="plan-msg">初心者から経験者までリペアを学ぶ！<br>リペアは全ての人が確実にできるようになれるんです！</p>
            </transition>

            <transition name="fadey">
              <h2 v-show="plan2">リペアを学習する<br><b>3</b><span>つのコース</span></h2>
            </transition>

            <transition name="fadey">
              <ul v-show="plan2">
                <li
                  v-for="(item,index)  in plans" :key:="index">
                  <figure><img :src="item.img"></figure>
                  <h3>{{item.title}}</h3>
                  <a :class="item.plan" @click="btn(item.plan)">詳しく見る<b-icon icon="chevron-down" /></a>
                </li>
              </ul>
            </transition>

          </div>
          <div id="course" >
            <div class="course" >
              <div class="course-wrap" v-show="ActiveBtnFx" >
                <a @click="btn('fenix')" ><b-icon icon="close-circle" /></a>
                <div class="course_fenix">

                  <h4>コースの特徴</h4>
                  <ul >
                    <li>リペアの技術や経営を学び、必ず再現できる戦略や安定した収益、今以上に拡大していきたい方のための<span>コンサルプログラムを一人一人にしっかりコミット</span>したコースになります。</li>
                    <li>それによって顧客・単価・人数・技術力・機動力・経験・地域から分析し、<span>利益や企業拡大や安定した収益を上げていくこと</span>ができます。</li>
                    <li>現状の問題点や悩みから必ず解決策を出して、取り組んでいただければ問題の解決だけでなく、<span>経営の目標地点まで辿り着けるサポート</span>をしていきます。</li>
                    <li><span>未経験で初めて</span>も軌道に乗せていくことも可能です。</li>
                  </ul>
                </div>
                <div class="course_box">
                  <div class="course_box-item">
                    <div class="course_box-title">
                      <p class="subtitle">'稼げる補修屋は対策が違う！10年後も勝ち続ける経営コンサル</p>

                      <p class="kingaku">
                        <span>期間目安：120万円～</span>
                        <span>金額：約1年</span>
                      </p>

                    </div>
                  </div>
                  <div class="course_box-item">
                    <h4>コースの紹介</h4>
                    <div class="youtube">
                      <iframe src="https://www.youtube.com/embed/4QQ6KbpfF_k" title="フェニックスコース" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
              <div class="course_hiyoko" v-show="ActiveBtnHk" >
                <a @click="btn('hiyoko')" ><b-icon icon="close-circle" /></a>

                <div class="course_box">
                  <div class="course_box-item">
                    <div class="course_box-title">
                      <p class="subtitle">空いた時間に毎日コツコツ学んでたった5ヶ月で開業できるオンラインリペアスクール</p>

                      <p class="kingaku">
                        <span>期間目安：約5か月</span>
                        <span>金額：16,830円～/月額</span>
                      </p>

                    </div>
                  </div>
                  <div class="course_box-item">
                    <h4>コースの紹介</h4>
                    <div class="youtube" >
                      <iframe src="https://www.youtube.com/embed/v3USEkud8F8" title="RBSひよこコースPR" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
              <div class="course_cocco" v-show="ActiveBtnCc" >
                <a @click="btn('cocco')" ><b-icon icon="close-circle" /></a>
                <div class="course_box">
                  <div class="course_box-item">
                    <div class="course_box-title">
                      <p class="subtitle">経営が難しいと思った人、営業、拡大、経営は実はこんなに簡単だった！</p>

                      <p class="kingaku">
                        <span>期間目安：約6か月</span>
                        <span>金額：45万円～</span>
                      </p>

                    </div>
                  </div>
                  <div class="course_box-item">
                    <h4>コースの紹介</h4>
                    <div class="youtube"><iframe src="https://www.youtube.com/embed/vv29p0wbtxU" title="RBSコッココースPR" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="plan" v-else>

          <div class="sppage" >
            <transition name="fadey">
              <p v-show="plan1" class="plan-msg">初心者から経験者までリペアを学ぶ！<br>リペアは全ての人が確実にできるようになれるんです！</p>
            </transition>

            <transition name="fadey">
              <h2 v-show="plan2">リペアを学習する<br><b>3</b><span>つのコース</span></h2>
            </transition>

            <transition name="fadey">
              <ul class="sppage-box" v-show="plan2">
                <li class="sppage-box-item">
                  <figure><img src="images/common/fenix.png"></figure>
                  <h3>フェニックスコース</h3>
                  <a class="sppage-more" @click="btn('fenix')">詳しく見る<b-icon icon="chevron-down"></b-icon>
                  </a>
                </li>
                <li class="sppage-box-in" v-show="ActiveBtnFx" >
                  <div class="course-wrap" >
                    <a class="close" @click="btn('fenix')" ><b-icon icon="close-circle" /></a>
                    <div class="course_fenix">

                      <h4>コースの特徴</h4>
                      <ul class="course_fenix-box">
                        <li>リペアの技術や経営を学び、必ず再現できる戦略や安定した収益、今以上に拡大していきたい方のための<span>コンサルプログラムを一人一人にしっかりコミット</span>したコースになります。</li>
                        <li>それによって顧客・単価・人数・技術力・機動力・経験・地域から分析し、<span>利益や企業拡大や安定した収益を上げていくこと</span>ができます。</li>
                        <li>現状の問題点や悩みから必ず解決策を出して、取り組んでいただければ問題の解決だけでなく、<span>経営の目標地点まで辿り着けるサポート</span>をしていきます。</li>
                        <li><span>未経験で初めて</span>も軌道に乗せていくことも可能です。</li>
                      </ul>
                    </div>
                    <div class="course_box">
                      <div class="course_box-item">
                        <div class="course_box-title">
                          <p class="subtitle">稼げる補修屋は対策が違う！10年後も勝ち続ける経営コンサル</p>

                          <p class="kingaku">
                            <span>期間目安：120万円～</span>
                            <span>金額：約1年</span>
                          </p>

                        </div>
                      </div>
                      <div class="course_box-item">
                        <h4>コースの紹介</h4>
                        <div class="youtube">
                          <iframe src="https://www.youtube.com/embed/4QQ6KbpfF_k" title="フェニックスコース" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="sppage-box-item">
                  <figure><img src="images/common/cocco.svg"></figure>
                  <h3>コッココース</h3>
                  <a  class="sppage-more"  class="sppage-more"@click="btn('cocco')">詳しく見る<b-icon icon="chevron-down" /></a>
                </li>
                <li class="sppage-box-in" v-show="ActiveBtnCc" >
                  <div class="course_cocco" >
                    <a class="close" @click="btn('cocco')" ><b-icon icon="close-circle" /></a>
                    <div class="course_box">
                      <div class="course_box-item">
                        <div class="course_box-title">
                          <p class="subtitle">経営が難しいと思った人、営業、拡大、経営は実はこんなに簡単だった！</p>

                          <p class="kingaku">
                            <span>期間目安：約6か月</span>
                            <span>金額：45万円～</span>
                          </p>

                        </div>
                      </div>
                      <div class="course_box-item">
                        <h4>コースの紹介</h4>
                        <div class="youtube"><iframe src="https://www.youtube.com/embed/vv29p0wbtxU" title="RBSコッココースPR" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="sppage-box-item">
                  <figure><img src="images/common/hiyoko.svg"></figure>
                  <h3>ひよこコース</h3>
                  <a class="sppage-more" @click="btn('hiyoko')">詳しく見る<b-icon icon="chevron-down" /></a>
                </li>
                <li class="sppage-box-in" v-show="ActiveBtnHk" >

                  <div class="course_hiyoko" >
                    <a class="close" @click="btn('hiyoko')" ><b-icon icon="close-circle" /></a>

                    <div class="course_box">
                      <div class="course_box-item">
                        <div class="course_box-title">
                          <p class="subtitle">空いた時間に毎日コツコツ学んでたった5ヶ月で開業できるオンラインリペアスクール</p>

                          <p class="kingaku">
                            <span>期間目安：約5か月</span>
                            <span>金額：16,830円～/月額</span>
                          </p>

                        </div>
                      </div>
                      <div class="course_box-item">
                        <h4>コースの紹介</h4>
                        <div class="youtube" >
                          <iframe src="https://www.youtube.com/embed/v3USEkud8F8" title="RBSひよこコースPR" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </transition>

          </div>

        </section>


        <section id="rbs">

          <div class="rbs">
            <h2><span class="small">RBSについて</span><br>初心者から学べる<br><span>動画コンテンツ配信型</span>スクール</h2>
            <div class="disc">リペアをしっかり理解できるカリキュラム！
            </div>
            <div class="rbs-box">
              <p>多くのリペアスクールでは技術の講習はあるけど経営を教えてくれるところはほとんどありません。</p>
              <p>RBSではリペアの技術だけではなく経営する上で大事な集客や営業、経営戦略まで網羅した今までにないリペアのスクールになっています。</p>
            </div>
            <div class="rbs-box2">
              <h3>RBSブランドムービー</h3>
                <video src="images/movies/main.mp4" autoplay="" muted="" loop="" playsinline=""></video>
            </div>
          </div>
        </section>

        <section id="salon">

          <div class="salon">
            <h2><span class="small">オンラインサロンについて</span><br>卒業生ならではの<br><span>悩み解決</span>サロン</h2>
            <div class="disc">コツコツ稼ぐチリツモサロン！
            </div>
            <div class="rbs-box">
              <p>ほとんどのリペア屋さんの悩みは、スキルがない！仕事がない！仕事がとれない！売上が安定しない！仲間がいない！と沢山の悩みをと知りました。</p>
              <p>同じ悩みを抱えたもの同士、卒業したあともサロンで一緒に共有し協力し合って頑張りあえる仲間とともに、お互いに良くなる道に進みたいと心の底から思っています。</p>
            </div>
            <div class="salon-box2">
              <figure><img src="images/common/onlinsalon2.jpg"></figure>
              <div class="salon-step">
                <div class="salon-step-head">
                  <b-icon icon="hand-pointing-right"></b-icon>

                  <h3>ご利用までの簡単ステップ</h3>
                </div>
                <ul>
                  <li v-for="(item,index) in steps" :key="index">
                    <p><span>{{index+ 1}}</span>{{item}}</p>
                    <b-icon icon="chevron-down" />
                  </li>
                </ul>
            </div>
            </div>
          </div>
        </section>

        <section id="only">

          <div class="only">
            <h2><span class="small">独立開業について</span><br>オンラインスクール＆サロン<br><span>悩みは「０」</span></h2>
            <div class="disc">安心して副業・独立開始ができる！
            </div>
            <div class="only-box">
              <p>いままでのステップから技術+ノウハウ+集客+経営・オンラインサロンでの情報集と仲間づくりにより初めてでも、副業・独立に踏み出しやすくなります！</p>
            </div>
            <div class="only-box2">
              <figure><img src="images/common/plan4.jpg"></figure>
              <div class="support_btn">
                <p>まずはLINEでお友達登録をお願いします！<br>LINE登録していただくと無料で<br class="pc">いくつか動画を視聴することが可能です。</p>
                <a href="https://lin.ee/lGRisGd"  target="_blank">LINEでお友達になる</a>
              </div>

            </div>
          </div>
        </section>

        <section id="support">
          <div class="support contents">
            <h2>コース内の充実した<span>サポート</span></h2>
            <ul>
              <li>
                <h3>無料会員期間</h3>
                <p>いきなり有料会員ではなく、まずは14日間の無料会員登録をして頂き、実際の会員となった際の学べるイメージを体感することが可能です！</p>
              </li>
              <li>
                <h3>個人合わせたコース</h3>
                <p>リペアの仕事は、性別・年齢に大きな影響がない仕事なので、初心者の方・興味がある方・副業で始めたい方・既に仕事をしているがもっとバリバリやりたい方へそれぞれのプランをご用意しています。</p>
              </li>
              <li>
                <h3>コース内のオプション</h3>
                <p>コースを受講していただくと、さらに実際にリペアした素材を送って頂きさらなるアドバイスをお伝えするオプションもご用意しています。</p>
              </li>
            </ul>
          </div>
        </section>

        <section id="cta">
          <div class="cta contents">
            <p class="cta-head">リペアリフォームスペシャリスト育成講座  リペアビジネススクール開校<br>11月11日、12日、13日スタート</p>
            <p class="cta-head2">残り<span>５名</span>のみ<br>空きがございます。</p>
            <p class="cta-head3">お問い合わせ等でかなり反響を頂いているので<br class="pc">近日中に定員に達してしまう可能性があります。<br>ご希望の方はお早めにLINEでお友達登録をしてください。</p>

            <div class="cta-body">
              <p class="text">詳細を御希望の方は、<br class="sp">公式LINEをともだち追加のうえ<br><span>『 詳細希望 』</span><br>と、メッセージを送ってください。</p>

              <a href="https://line.me/R/ti/p/%40215jpmxr" target="_blank"><img src="images/common/lp_qrcode.png"></a>
              <p class="cta-line">QRコードを読み取って<br>公式LINEをともだち追加</p>
            </div>
            <div class="cta-foot">
              <p>＜運営企業＞</p>
              <ul>
                <li>
                  <img src="images/common/logo.png" alt="RBS">
                  <h3 class="mincho">Repair Business School</h3>
                </li>
                <li>〒252-0134</li>
                <li>神奈川県相模原市緑区下九沢170-7<br class="sp">TRCビル2F</li>
                <li>TEL:042-713-1452</li>
                <li><p class="mono">令和２年度補正 ものづくり補助金により作成</p></li>
              </ul>
            </div>
          </div>

        </section>


      </article>

      <!--SP追尾-->

      <div id="sp_footer">
        <ul class="sp_footer_btn">
          <li class="sp_footer_btn_item">
            <a href="#header" >
              <b-icon icon="email-outline"></b-icon>
            </a>
          </li>
          <li class="sp_footer_btn_item">
            <a href="#header" >

              <b-icon icon="chevron-up"></b-icon>
            </a>
          </li>
        </ul>
      </div>

      <footer class="nav nav-footer ">

        <div class="sp_footer sp">
          <ul>
            <li><a href="https://line.me/R/ti/p/%40215jpmxr" target="_blank"><b-icon icon="arrow-right-drop-circle" size="is-large" ></b-icon><span>LINEでお友達になる</span></a>
            </li>
          </ul>
        </div>

        <p class="copyright nomargin">©︎2022 RBS | repair-business-school.com</p>
      </footer>

    </div><!--//layout-default-->

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
    <script src="https://cdn.polyfill.io/v3/polyfill.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="js/common.js"></script>
  </body>
</html>




